.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header >a:hover {
    color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default {
    background-color: black;
    border-color: #030033;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #00b330; /*Change active text color here*/
}
.navbar {  margin-bottom: 0; }

body {
    background-color: #f2ffe6;
}

/* div[class^="col-"] {
     background-color: rgba(255, 0, 0, 0.2);
}
.row, div[class^="col-"] {border: 1px solid red; }
*/

.jumbotron {
    padding-top: 0;
    color: black;
    font-size: x-large;
}

.modal-dialog{
    display: table;
}

.modal {color: black}

h1 {font-size: 3em}
.top-buffer { margin-top:0.8em; }
#AG_Table input {width: 100%}
table {
    color: black;
    background-color: white;
}


#hinzufügen,#speicher-AG, #bearbeiten-speichern { float: right}
#achtung {font-size: smaller;}

#a_d_main .row button {width:100%}