@font-face {
    font-family: Engravers;
    src: url('fonts/engravers-gothic-bt-58eb4a0972183.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    padding-top: 4em;

    padding-right: 0 !important;

    background-image: url('../img/BG_1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

header {
    background-color: #ffffff;
}

#logo a:link,
#logo a:visited,
#logo a:hover,
#logo a:active {
    color: #000000;
    text-decoration: none;
}

#logo {
    cursor: default;
}

section,
header {
    width: 100%;
}

body #login_panel{
    height: 70%;
    background-image: url('../img/BG_1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section:first-child .panel {
    box-shadow: 0 0 15px #191919;
}

section:first-child .panel-heading {
    font-size: 32px;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 10px !important;
}

section:first-child .panel-heading h2 {
    font-size: 32px;
    font-family: Engravers !important;
    margin-top: 10px !important;
}

section:nth-child(2) {
    min-height: 20%;
    display: table;
    padding-bottom: 100px;
}

section .panel-body {
    padding: 10px;
    margin: 0;
}

footer {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #aaaaaa;

}

.lang {
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 3px;
    padding-left: 24px;
}

.lang-de {
    background-image: url('../img/flags/flag-de.png');
}

.lang-en {
    background-image: url('../img/flags/flag-en.png');
}

.modal-dialog {
    display: table;
}

header:not(.btn-group) {
    position: fixed;
    top: 0;
    left: 0;
    line-height: 75px;
    border-bottom: 1px solid #dcdcdc;
    z-index: 999;
    box-shadow: 0 0 15px #161616;
}

.panel-heading #logo {
    font-size: 24px;
    font-family: Engravers;
    padding-left: 10%;
    position: relative;
}

.panel-heading #logo:before {
    position: absolute;
    left: 0;
    top: -25%;
    height: 150%;
    width: 70px;

    overflow: visible;

    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    content: ' ';
}

header #logo {
    font-size: 24px;
    font-family: Engravers;
    padding-left: 10%;
    position: relative;
}

header #logo:before {
    position: absolute;
    left: 0;
    top: -25%;
    height: 150%;
    width: 100px;

    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    content: ' ';
}

#lang {
    z-index: 700;
}

@media (min-width: 992px) {

    .panel-heading #logo {
        font-size: 32px;
        font-family: Engravers;
        padding-left: 70px;
        position: relative;
    }

    .panel-heading #logo:before {
        position: absolute;
        left: 0;
        top: -15%;
        height: 130%;
        width: 70px;

        overflow: visible;

        background-image: url('../img/logo.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        content: ' ';
    }

    header #logo {
        font-size: 32px;
        font-family: Engravers;
        padding-left: 110px;
        position: relative;
    }

    header #logo:before {
        position: absolute;
        left: 0;
        top: 5%;
        height: 90%;
        width: 100px;

        overflow: visible;

        background-image: url('../img/logo.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        content: ' ';
    }
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
}


/*
 div[class^="col-"] {
     background-color: rgba(255, 0, 0, 0.2);
}
.row, div[class^="col-"] {border: 1px solid red; }
*/

h1 {
    font-size: 3em
}

.top-buffer {
    margin-top: 0.8em;
}

.top-buffer-2 {
    margin-top: 1.6em;
}

.top-buffer-3 {
    margin-top: 2.4em;
}

table {
    color: black;
    background-color: white;
}

#close_open {
    font-style: oblique;
    text-decoration:underline;
}

.panel {
    margin-bottom: 5%;
    margin-top: 5%;
}

.last {
    margin-bottom: 3em;
}

.note{
    max-width: 4em;
}


#hinzufügen, #speicher-AG, #bearbeiten-speichern {
    float: right
}

#achtung {
    font-size: smaller;
}

.löschButton {
    width: 100% !important;
}

#Abg_Wahl{
    padding: 6px 12px;
    padding-right: 0;
}



@media (min-width: 992px) {
    .welcome p {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
        -moz-column-rule-style: solid; /* Firefox */
        column-rule-style: solid;
        -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
        -moz-column-rule-width: 1px; /* Firefox */
        column-rule-width: 1px;
    }
}

footer p {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.placeholder {
    height: 50px;
    display: table;
    width: 100%;
}

footer .nav-stacked > li > a:link,
footer .nav-stacked > li > a:visited {
    color: #dcdcdc;
}

footer .nav-stacked > li > a:hover,
footer .nav-stacked > li > a:focus,
footer .nav-stacked > li > a:active {
    color: #00b330;
}

.no-padding {
    padding: 0;
}

#Ergebnisse_download:link,
#Ergebnisse_download:visited,
#Ergebnisse_download:hover,
#Ergebnisse_download:active {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    header .row {
        padding-left: 5%;
        padding-right: 5%;
    }

    footer .nav-stacked {
        padding-top: 30px;
    }
}