@font-face {
    font-family: Engravers;
    src: url('fonts/engravers-gothic-bt-58eb4a0972183.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section:first-child {
    min-height: 600px;
    height: 80%;
    background-image: url('../img/bg_1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-positio: center center;
}

section > div > div {
    margin-top: 5%;
}

section:first-child .panel {
    box-shadow: 0 0 15px #191919;
}

section:first-child .panel-heading {
    font-size: 32px;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 10px !important;
}

section:first-child .panel-heading h2 {
    font-size: 32px;
    font-family: Engravers !important;
    margin-top: 10px !important;
}

section:nth-child(2) {
    min-height: 20%;
    display: table;
    padding-bottom: 100px;
}

footer {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #aaaaaa;

}

.lang {
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 3px;
    padding-left: 24px;
}

.lang-de {
    background-image: url('../img/flags/flag-de.png');
}

.lang-en {
    background-image: url('../img/flags/flag-en.png');
}

.modal-dialog {
    display: table;
}

header:not(.btn-group) {
    position: relative;
    line-height: 75px;
    border-bottom: 1px solid #dcdcdc;
}

header:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    content: '';

    background-image: url('../img/bg_1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-positio: center center;
}

header label#logo {
    font-size: 32px;
    font-family: Engravers;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
}

/* Teil von Matze: */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header > a:hover {
    color: white; /*Sets the text hover color on navbar*/
}

.navbar-default {
    background-color: black;
    border-color: #030033;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #00b330; /*Change active text color here*/
}

.navbar {
    padding: 1em 0em;
    margin-bottom: 0;
}

.navbar-brand, .lnk {
    font-size: x-large;
}

/*
 div[class^="col-"] {
     background-color: rgba(255, 0, 0, 0.2);
}
.row, div[class^="col-"] {border: 1px solid red; }
*/

h1 {
    font-size: 3em
}

.top-buffer {
    margin-top: 0.8em;
}

.top-buffer-2 {
    margin-top: 1.6em;
}

#AG_Table input {
    width: 100%
}

table {
    color: black;
    background-color: white;
}

.admin {
    background-image: url('../img/bg_1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 70%;
}

.panel {
    margin-bottom: 5%;
    margin-top: 5%;
}

.last {
    margin-bottom: 4em;
}


#bewertung_einsehen {
    width: 100%;
}

#student_bearbeiten input {
    width: 100%
}

#hinzufügen, #speicher-AG, #bearbeiten-speichern {
    float: right
}

#achtung {
    font-size: smaller;
}

.admin .row button {
    width: 70%
}

.löschButton {
    width: 100% !important;
}

@media (min-width: 992px) {
    .welcome p {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
        -moz-column-rule-style: solid; /* Firefox */
        column-rule-style: solid;
        -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
        -moz-column-rule-width: 1px; /* Firefox */
        column-rule-width: 1px;
    }
}

footer p {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.placeholder {
    height: 50px;
    display: table;
    width: 100%;
}

