@font-face {
    font-family: Engravers;
    src: url('fonts/engravers-gothic-bt-58eb4a0972183.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
}

section:first-child {
    min-height: 600px;
    height: 80%;
    background-image: url('../img/bg_1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section > div > div {
    margin-top: 5%;
}

section:first-child .panel {
    box-shadow: 0 0 15px #191919;
}

section:first-child .panel-heading {
    font-size: 32px;
    font-family: Engravers;
    border-bottom: 1px solid #dcdcdc;
}

section:nth-child(2) {
    height: 20%;
}

footer {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
}

.lang {
    width: 24px;
    height: 24px;
    background-size: cover;
    display: block;
}

.lang-de {
    background-image: url('../img/flags/de.png');
}

.lang-en {
    background-image: url('../img/flags/en.png');
}

.modal-dialog{
    display: table;
}
